@import "../../variables.import.less";

// Left-side API content menu.
.left-menu {
  padding: 1rem .5rem 1rem 1rem;
  border-radius: @border-radius;
  position: relative;
  background-color: @background-color;
  font-size: 1rem;

  .search {
    margin:  0 .5rem .5rem 1rem;

    label {
      vertical-align: bottom;
    }
  }


  .version-selector {
    margin: 1rem 0 .5rem;
    font-weight: bold;
  }

  h2,
  h3,
  h4,
  a.tutorials-nav-button,
  .version-selector {
    margin-left: 1rem;
  }

  a {
    color: @angular-red;
  }

  li a {
    color: @angular-red;
    transition: .2s color, .2s background-color;
    text-indent: -2em;
    padding: 10px 3em;
    position: relative;
    z-index: 0;
  }

  li:last-child a::after {
    display: none;
  }
}
